.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
	padding: 40px 20px;
	grid-gap: 20px;
	justify-items: center;
}

.card {
	position: relative;
	display: flex;
	padding: 0 15px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.438);
	height: 200px;
	width: 600px;
	border-radius: 10px;
	align-items: center;
	justify-content: start;
	color: rgb(68, 64, 64);
	background-color: rgba(255, 255, 255, 0.938);
}

.card:hover {
	transform: translateY(-5px);
	transition: 0.4s;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.623);
}

.card_container_logo {
	width: 250px;
	margin-right: 20px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.164);
	border-radius: 10px;
}

.card_logo {
	width: 100%;
	border-radius: 10px;
}

.card_container_info_extra div svg {
	width: 20px;
}

.card_container_info {
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 140px;
}

.card_container_info h3 {
	font-weight: 700;
	margin: 0 0 5px;
	letter-spacing: 1px;
}

.card_container_info_extra {
	display: flex;
	flex-direction: column;
}

.card_container_info_extra_general {
	display: flex;
	align-items: center;
}

.card_container_info_extra_city,
.card_container_info_extra_salary {
	display: flex;
	justify-content: start;
	align-items: center;
}

.card_container_info_extra_salary {
	padding-left: 10px;
}

.card_container_info_extra_city p,
.card_container_info_extra_salary p {
	margin: 0 0 0 5px;
}

.card_container_info_extra_salary .salary {
	font-weight: 700;
}

.country {
	text-transform: capitalize;
	position: absolute;
	top: 10px;
	right: 20px;
	background-color: rgba(17, 14, 221, 0.699);
	color: white;
	font-weight: 700;
	padding: 5px 10px;
	border-radius: 20px;
	margin: 0;
}

.country2 {
	text-transform: capitalize;
	position: absolute;
	top: 10px;
	right: 20px;
	background-color: rgba(255, 8, 123, 0.829);
	color: white;
	font-weight: 700;
	padding: 5px 10px;
	border-radius: 20px;
	margin: 0;
}

.date {
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: 12px;
	margin: 0;
}
