.card {
	text-decoration: none;
	margin-top: 2rem;
	margin-left: 1rem;
}

.card:hover {
	box-shadow: 5px 10px 20px 1px rgba(128, 126, 126, 0.273) !important;
}

.card-body {
	padding: 2rem 0 !important;
}

.card-text {
	padding: 0.3rem 1rem;
	font-size: 1rem;
}

.image {
	width: 18rem;
}
