.cards{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardJunior{
    background-color: cornflowerblue;
    width: 22em;
    height: auto;
    margin-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.4em;
}

.cardCompany{
    background-color: rgb(226, 60, 255);
    width: 22em;
    height: auto;
    margin-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.4em;
}

.img{
    max-width: 18em;
    margin-bottom: 1em;
    border-radius: 0.4em;
}

.name{
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 1em;
    align-self: flex-start;
}

.description{
    margin-left: 2em;
    margin-bottom: 1em;
    align-self: flex-start;
}

.spanPequeño{
    color: rgba(0, 0, 0, 0.452);
    font-size: 0.8em;
}

.divButton{
    margin-bottom: 1em;
}

.btnBlue{
    background-color: transparent;
    border: black solid 2px;
    width: 6em;
    border-radius: 0.4em;
    transition: all 0.5s;
}
.btnBlue:hover{
    background-color: rgba(255, 255, 255, 0.294);
}

/* .btnPink{
    background-color: transparent;
    border: black solid 2px;
    width: 6em;
    border-radius: 0.4em;
    transition: all 0.5s;
}
.btnPink:hover{
    background-color: rgb(226, 60, 255);
} */

/* .ventanaEmergenteOculta{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.ventanaEmergenteVisible{
    background-color: rgba(100, 148, 237, 0.192);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
} */

/* .cuadradoDelInput{
    background-color: black;
    width: 18em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s;
    transform: scale(1);
} */

/* .cuadradoDelInputOcultar{
    background-color: black;
    width: 18em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s;
    transform: scale(0);
} */

/* .btnInput{
    position: absolute;
    bottom: 0.3em;
    right: 0.3em;
} */