.body{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
background: url("Un\ puente\ entre\ empresas\ y\ programadores\ \(3\).png");
background-size: cover;

}
.conteiner{
padding: 200px;
}
h1{
    font-family: 'Candal', sans-serif; 
    font-size: 70px;
}
h5{
    font-size: 25px;
    font-family: 'Arsenal', sans-serif;
}

.btn1{
    background: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px;
    margin-top: 25px ;
    color:white;
}

.btn2{
    background: white;
}