.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 60px;
	background-color: rgba(22, 95, 231, 0.856);
	color: #fff;
}

.nav__container__logo {
	font-size: 40px;
}

.nav__container__logo h1 {
	margin: 0px;
}

.nav__container__bridge {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav__container__links {
	display: flex;
	justify-content: space-between;
	width: 600px;
}

.nav__container__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
}

.responsive__menu {
	display: none;
}

svg {
	width: 40px;
	height: 40px;
}
