.cont {
	padding: 20px;
	width: calc(100vw - 80px);
	background-color: rgba(255, 255, 255, 0.938);
	display: flex;
	justify-content: space-around;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.438);
	margin: 10px auto 0;
	align-items: center;
}

form {
	margin-right: 10px;
}

.field2 select {
	width: 200px;
	padding: 0 5px;
	border-radius: 5px;
}

.field2 select:focus {
	outline: none;
	border: 2px solid rgb(52, 138, 236);
}

.field2 select[selected] {
	background-color: orange;
}

.field input {
	width: 300px;
	border: none;
	border-bottom: 1px solid rgb(75, 72, 72);
}

.field input:focus {
	outline: none;
	border-bottom: 2px solid rgb(52, 138, 236);
}

.clear {
	cursor: pointer;
	margin: 0;
	padding: 10px;
	width: 150px;
	text-align: center;
	margin-left: 10px;
	background-color: rgba(20, 97, 241, 0.884);
	border-radius: 5px;
	color: white;
}

.clear:hover {
	background-color: rgb(20, 97, 241);
}

@media screen and (max-width: 700px) {
	.cont {
		flex-direction: column;
		width: 90vw;
	}
	form {
		margin-bottom: 10px;
		width: 100%;
		margin-right: 0px;
	}

	.field input {
		width: 100%;
	}
	.field2 {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}
	.field2 select {
		width: 100%;
	}

	.clear {
		width: 100%;
		margin: 0;
	}
}
